<a class="icon-twitter" href="{{twitter_url}}" title="Twitter"><span class="hidden">Twitter</span></a>
<a class="icon-facebook" href="{{facebook_url}}" title="Facebook"><span class="hidden">Facebook</span></a>
